<h2 class="sub-header">{{phone.nickname}}</h2>

<h3 class="sub-header">Data chart</h3>

<div ng-controller="phoneDataController as cC" class="chartController controller">
    <nvd3-line-chart
            data="cC.chartData"
            showXAxis="true"
            showYAxis="true"
            tooltips="true"
            interactive="true"
            xAxisTickFormat="cC.xAxisTickFormatFunction()"
            height="400">
    </nvd3-line-chart>
    <div>{{cC.message}}</div>
    <button ng-click="cC.displayDebug = !cC.displayDebug">Debug</button>
    <pre ng-show="cC.displayDebug" class="ng-hide">{{cC.chartData | json}}</pre>

    <h3 class="sub-header">Position on map</h3>
    <ui-gmap-google-map center='cC.map.center' zoom='cC.map.zoom' draggable="false" options="cC.map.options">
        <ui-gmap-marker coords="cC.map.markerPosition" options="cC.map.marker" idkey="cC.map.markerId">
        </ui-gmap-marker>
    </ui-gmap-google-map>

    <h3 class="sub-header">Set up data to send</h3>

    <form role="form">
        <div class="form-group">
            <label for="sendMsg">message</label>
            <input type="text" ng-model="cC.message" class="form-control" id="sendMsg"/>
            <label for="serverIp">serverIp</label>
            <input type="text" ng-model="cC.serverIp" class="form-control" id="serverIp"/>
        </div>
        <button class="btn btn-default" ng-click="cC.sendMsg()">Send msg</button>
    </form>
</div>